*.pyc
wikirep/io_tests/data_output
wikirep/io_tests/data_output/*
wikirep/data_output/*
.project
.pydevproject
.settings/*

wikirep/io_tests/data_output
wikirep/io_tests/data_output/test__parse_tools.xml
wikirep/io_tests/data_output/wiki_knowledge_output.xml
